<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактирование</title>
    <style>
        * {
            box-sizing: border-box;
        }

        .container {
            display: flex;
            flex-direction: column;
            position: relative;
            height: 100%;
            max-width: 600px;
            margin: auto;
            padding: 5px;
        }

        .menu {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            font-size: 32px;
        }

        .message {
            min-width: 24px;
        }

        .tabs {
            height: 35px;
        }

        .tab-button {
            padding: 5px 10px;
            margin: 1px 3px;
            background-color: lightgray;
            cursor: pointer;
            min-width: 210px;
            text-align: center;
        }

        .tab-button.active {
            background-color: blue;
            color: white;
        }

        .tab-pane {
            display: none;
        }

        .tab-pane.active {
            display: block;
        }

        textarea {
            width: 100%;
        }

        .order-link-container,
        .order-comment-container {
            display: none;
            margin-left: 10px;
        }

        .order-comment-container {
            margin-top: 5px;
        }

        .version {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

    </style>
    <script th:inline="javascript">
        /*<![CDATA[*/
        // Убраны лишние фигурные скобки {}
        const returnedUrlMap = /*[[${returnedMap}]]*/ {};
        const trashUrlMap = /*[[${trashMap}]]*/ {};
        const trashDecodeMap = /*[[${trashDecodeMap}]]*/ {};
        const commentMap = /*[[${commentMap}]]*/ {};
        /*]]>*/
    </script>
</head>
<body>

<div class="container">

    <div class="menu">
        <a class="tab-button" href="/groups?admin=true">АДМИН</a>
        <a class="tab-button" href="/groups">ПРОСМОТР</a>
        <a class="tab-button" href="/api/export/ftp?user=KGS">ВЫГРУЗИТЬ</a>
        <a class="tab-button" href="/api/export/static?user=KGS">СОХРАНИТЬ</a>
    </div>

    <div th:if="${trashMap != null && trashMap.size() > 0}">
        <hr>
        <h2>Загрузить расшифровку утилизации</h2>
        <div class="tabs">
            <span class="tab-button active" data-tab="tab-text">Text</span>
            <span class="tab-button" data-tab="tab-file">File</span>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="tab-text">
                <form id="uploadTrashForm" method="post" action="/api/upload/trash"
                      enctype="application/x-www-form-urlencoded">
                    <label for="select-trash-orderId">ID заказа:</label>
                    <select id="select-trash-orderId" name="orderId" required>
                        <option value="" disabled selected>Выберите ID заказа</option>
                        <option th:each="orderId : ${trashMap.keySet()}"
                                th:value="${orderId}" th:text="${orderId}"></option>
                    </select>
                    <div class="order-link-container" id="trash-order-link-container">
                        <a id="trash-order-link" href="#" target="_blank"></a>
                    </div>
                    <div class="order-comment-container" id="trash-order-comment-container"></div>
                    <br><br>

                    <label for="trash-equipment">Оборудование:</label><br>
                    <textarea id="trash-equipment" name="equipment" rows="4" required></textarea><br><br>

                    <button type="submit">Отправить</button>
                </form>
                <div class="message" id="uploadTrashForm-message"></div>
            </div>
            <div class="tab-pane" id="tab-file">
                <form id="uploadTrashFileForm" method="post" action="/api/upload/trash/file"
                      enctype="multipart/form-data">
                    <input type="file" name="file" accept=".txt" required/>
                    <button type="submit">Загрузить</button>
                </form>
                <div class="message" id="uploadTrashFileForm-message"></div>
            </div>
        </div>
    </div>

    <div th:if="${returnedMap != null && returnedMap.size() > 0}">
        <hr>
        <h2>Добавить коммент</h2>
        <form id="addComment" method="post" action="/api/upload/comment" enctype="application/x-www-form-urlencoded">
            <label for="select-returned-orderId">ID заказа:</label>
            <select id="select-returned-orderId" name="orderId" required>
                <option value="" disabled selected>Выберите ID заказа</option>
                <option th:each="orderId : ${returnedMap.keySet()}"
                        th:value="${orderId}" th:text="${orderId}"></option>
            </select>
            <div class="order-link-container" id="returned-order-link-container">
                <a id="returned-order-link" href="#" target="_blank"></a>
            </div>
            <div class="order-comment-container" id="returned-order-comment-container"></div>
            <br><br>

            <label for="comment-date">Дата:</label>
            <input type="date" id="comment-date" name="date" required><br><br>

            <label for="comment-content">Комментарий:</label><br>
            <textarea id="comment-content" name="comment" rows="4" required></textarea><br><br>

            <button type="submit">Отправить</button>
        </form>
        <div class="message" id="addComment-message"></div>
    </div>

    <div class="clear" id="trash-clear"
         th:if="${(trashMap == null || trashMap.size() == 0) && (trashDecodeMap != null && trashDecodeMap.size() > 0)}">
        <hr>
        <h2>Очистка расшифровок утилизаций</h2>
        <form id="clearTrash" method="post" action="/api/clear/trash" enctype="application/x-www-form-urlencoded">
            <button type="submit">Очистить</button>
        </form>
    </div>
    <div class="clear" id="comment-clear"
         th:if="${(returnedMap == null || returnedMap.size() == 0) && (commentMap != null && commentMap.size() > 0)}">
        <hr>
        <h2>Очистка комментариев</h2>
        <form id="clearComment" method="post" action="/api/clear/comment" enctype="application/x-www-form-urlencoded">
            <button type="submit">Очистить</button>
        </form>
    </div>

    <div class="version" th:text="${version}"></div>

</div>

<script>
    const dateInput = document.getElementById('comment-date');
    if (dateInput) {
        dateInput.value = new Date().toISOString().split('T')[0];
    }


    function handleFormSubmit(formId, redirectUrl) {

        const form = document.getElementById(formId);
        if (!form) return;

        form.onsubmit = function (event) {
            event.preventDefault();

            const payload = {};
            for (let pair of new FormData(form)) {
                const [key, value] = pair;
                payload[key] = value;
            }

            fetch(this.action, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(payload)
            })
                .then(response => response.text())
                .then(message => {
                    document.getElementById(formId + '-message').innerText = message;

                    if (message.includes("успешно")) {
                        window.location.href = redirectUrl;
                    }
                })
                .catch(error => {
                    document.getElementById(formId + '-message').innerText = "Ошибка сети: " + error;
                });
        };
    }

    handleFormSubmit('uploadTrashForm', '/edit');
    handleFormSubmit('uploadTrashFileForm', '/edit');
    handleFormSubmit('addComment', '/edit');
    handleFormSubmit('clearTrash', '/edit');
    handleFormSubmit('clearComment', '/edit');

    document.querySelectorAll('.tab-button')
        .forEach(button => {
            button.addEventListener('click', function () {

                document.querySelectorAll('.tab-button')
                    .forEach(button => button.classList.remove('active'));
                this.classList.add('active');

                const tabId = this.getAttribute('data-tab');
                document.querySelectorAll('.tab-pane')
                    .forEach(pane => {
                        pane.classList.remove('active');
                    });
                document.getElementById(tabId).classList.add('active');

            });
        });


    function setupOrderInfo(selectId, containerId, linkId, urlMap, extendContainerId, extendMap, extendRenderFn) {
        const selectElement = document.getElementById(selectId);
        if (!selectElement) return;

        const linkContainer = document.getElementById(containerId);
        const linkElement = document.getElementById(linkId);
        const extendContainer = document.getElementById(extendContainerId);

        selectElement.addEventListener('change', function () {
            const selectedOrderId = selectElement.value;

            if (selectedOrderId && urlMap.hasOwnProperty(selectedOrderId)) {
                linkElement.href = urlMap[selectedOrderId];
                linkElement.textContent = 'Перейти к заявке ' + selectedOrderId;
                linkContainer.style.display = 'inline';

                const extendElements = extendMap[selectedOrderId];
                if (extendElements !== undefined) {
                    extendRenderFn(extendContainer, extendElements)
                } else {
                    extendContainer.style.display = 'none';
                }

            } else {
                linkContainer.style.display = 'none';
                extendContainer.style.display = 'none';
            }
        });
    }

    function renderTrashOrders(container, trashTasks) {
        if (Array.isArray(trashTasks) && trashTasks.length > 0) {

            const table = document.createElement('table');

            const thead = document.createElement('thead');
            const headerRow = document.createElement('tr');
            const headers = ['Работа', 'Объём']; // Названия колонок
            headers.forEach(text => {
                const th = document.createElement('th');
                th.textContent = text;
                headerRow.appendChild(th);
            });
            thead.appendChild(headerRow);
            table.appendChild(thead);

            const tbody = document.createElement('tbody');
            trashTasks.forEach(task => {
                const row = document.createElement('tr');

                const workCell = document.createElement('td');
                workCell.innerHTML = task.work;
                row.appendChild(workCell);

                const volumeCell = document.createElement('td');
                volumeCell.textContent = task.volume;
                volumeCell.style.textAlign = 'center';
                row.appendChild(volumeCell);

                tbody.appendChild(row);
            });
            table.appendChild(tbody);

            container.appendChild(table);

            container.style.display = 'block';
        }
    }

    function renderComments(container, comments) {
        if (Array.isArray(comments) && comments.length > 0) {
            container.innerHTML = '';
            comments.forEach(function (commentObject) {
                const commentDate = document.createElement('div');
                commentDate.textContent = commentObject.shortDate;
                container.appendChild(commentDate)
                const commentText = document.createElement('div');
                commentText.textContent = commentObject.comment;
                container.appendChild(commentText);
            });
            container.style.display = 'block';
        }
    }

    setupOrderInfo('select-trash-orderId', 'trash-order-link-container', 'trash-order-link', trashUrlMap, 'trash-order-comment-container', trashDecodeMap, renderTrashOrders);
    setupOrderInfo('select-returned-orderId', 'returned-order-link-container', 'returned-order-link', returnedUrlMap, 'returned-order-comment-container', commentMap, renderComments);

</script>

</body>
</html>