<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Загрузка файла</title>
    <style>
        .message {
            min-width: 1.2em;
        }
    </style>
</head>
<body>
<div>
    <h2>Загрузить задачи</h2>
    <form id="uploadXlsxForm" method="post" action="/api/upload/tasks" enctype="multipart/form-data">
        <input type="file" name="file" accept=".xlsx" required/>
        <button type="submit">Загрузить</button>
    </form>
    <div class="message" id="uploadXlsxForm-message"></div>
</div>

<script>
    function handleFormSubmit(formId, redirectUrl) {

        const form = document.getElementById(formId);
        if (!form) return;

        form.onsubmit = function (event) {
            event.preventDefault();

            const formData = new FormData(this);

            fetch(this.action, {
                method: 'POST',
                body: formData
            })
                .then(response => response.text())
                .then(message => {
                    document.getElementById(formId + '-message').innerText = message;

                    if (message.includes("успешно")) {
                        window.location.href = redirectUrl;
                    }
                })
                .catch(error => {
                    document.getElementById(formId + '-message').innerText = "Ошибка сети: " + error;
                });
        };
    }
    handleFormSubmit('uploadXlsxForm', '/edit');
</script>

</body>
</html>